@import "./variables.scss";

// app wide CSS styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: $text-color-dark;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: $text-medium-size;
  line-height: 1.6;
}

::placeholder {
  color: $color-grey-3;
}

.error {
  color: $color-danger;
  font-size: $text-large-size;
  font-weight: bold;
}
